/*
	Mobile Stylesheet
*/

body {
	background: #FFF5C6;
	font-family: "Lucida Sans", san-serif;
	max-width: 100%;
}

h1, h2, h3 {
		font-variant: small-caps;
		margin-left: 0 auto; 
		margin-right: 0 auto; 
		padding-left: 0 auto; 
		padding-right: 0 auto; 
		text-align: center;
	}
	
p {
	margin-left: 0 auto; 
	margin-right: 0 auto; 
	padding-left: 0 auto; 
	padding-right: 0 auto; 
	padding-top: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	text-align: center;
}

a:link {
		color: #D8A800; 
		text-decoration: none;
	}
a:visited {
		color: #D8A800; 
		text-decoration: none;
	}
a:hover {
		color: #D8A800; 
		text-decoration: underline;
	}
a:active {
		color: #D8A800; 
		text-decoration: underline;
	}
	
img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px; 
	border-radius: 15px;
}

/*Topbar List*/

.nav {
    list-style-type: none;
	background-color:#103466;
	color:#FFF;
	position: absolute;
	overflow-x: hidden;
    top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	height: auto;
    padding: 0 auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	text-align: center;
    align-items: center;
    justify-content: center;
	-webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.66); 
	-moz-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.66); 
	box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.66); 
}

li {
	padding: 2%;
    margin: 2%;
}

.nav a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 16ox 16px;
	font-size: 1.5em;
    text-decoration: none;
}
	
/*

Flexboxes

*/

.box {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	height: auto;
	width: 200px;
	max-width: 45%;
}

.flex-container {
  display: flex;
  position: relative;
  width: 97%;
  max-width: 97%;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: auto;
}

.flex-item {
	font-size: .9em;
}

/*

Containers

*/

#main {
	margin-top: 12%;
	margin-bottom: 10%;
	max-width: 100%;
}

#footer {
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0;
	height:10%;
	position:relative;
}

#footer p {
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
	font-size: .8em; 
	font-family: "Perpetua", serif;
}

/* Dice */

.diceimage {  
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
  }
  
.die {
		color: #000000;
		text-align: center;
		font-family: "Lucida Sans", sans-serif;
    	width: 120px;
    	height: 120px;
    	background: #ffffff;
		-webkit-border-radius: 15px; 
		-moz-border-radius: 15px; 
		border-radius: 15px; 
		border: 1px black solid;
		padding: 4px; 
		margin: 4px; 
	}
#dicecontainer {
		margin: 0 auto; 
		padding 0 auto; 
		width: 300px;
	}
	
/* Eightball */

.answer {
		background-color: #FFFFFF; 
		text-align: center; 
		-webkit-border-radius: 5px; 
		-moz-border-radius: 5px; 
		border-radius: 5px; 
		padding: 4px; 
		margin: 4px; 
		color: #000000; 
		font-family: "Courier Prime", "Courier New", "FixedSys", serif;
		text-transform: uppercase;
	}
	
input {
		-webkit-border-radius: 5px; 
		-moz-border-radius: 5px; 
		border-radius: 5px; 
		padding: 4px; 
		margin: 4px;
	}
	
.button {
		background-color: #FFF5C6; 
		font-variant: small-caps; 
		border-width: 3px; 
		border-color: #FFE4AA; 
		border-style: outset; 
		font-weight: bold;
	}